*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    color: black;
}
body{
    width: 100vw;
    overflow-x: hidden;
}
body::-webkit-scrollbar {
    display: none;
}
nav{
    position: fixed;
    width: 100vw;
    display: flex;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    background-color: rgb(252, 252, 252);
}
nav img{
}
nav ul{
    display: flex;
    justify-content: space-between;
    margin-right: 20px;
}
nav ul li{
    list-style: none;
    display: grid;
    place-items: center;
    margin-left: 40px;
}
.SecOne{
    width: 100vw;
    height: 100dvh;
    /* background-position: center;
    background-size: cover;*/
    background-image: url("../assets/hero-bg.png");
    background-attachment: fixed; 
    display: grid;
    place-items: center;
    background-repeat: none;

}
.SecOne main{
    width: 50%;
    padding: 20px;
    text-align: center;
}
.SecOne main h5{
    font-size: 1.4rem;
    color: rgba(255, 255, 255, 0.664);
}
.SecOne main h1{
    font-size: 3rem;
    color: white;
}
.SecOne main p{
    color: rgba(255, 255, 255, 0.6);
}
.SecOne main a{
    text-decoration: none;
    color: white;
    background-color: rgb(39, 156, 13);
    padding: 15px;
    display: block;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 0.9rem;
}

.SecTwo{
    width: 100vw;
    margin: 10vh 0;
    display: grid;
    place-items: center;
    padding: 20px;
}
.SecTwo main{
    text-align: center;
}
.SecTwo main h1{
    font-size: 2.5rem;
}
.SecTwo main h5{
    color: rgb(138, 138, 138);
}
.items{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
}
.item{
    width: 250px;
    padding: 40px 10px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    margin: 10px;
}
.item img{
    width: 90%;
}
.item h4{
    background-color: rgba(3, 135, 3, 0.295);
    width: 50%;
    font-size: 0.8rem;
    border-radius: 5px;
    padding: 3px;
    margin: 5px auto;
}
.item p{
    font-size: 0.8rem;
}
.SecTwo main a{
    text-decoration: none;
    color: white;
    background-color: rgb(39, 156, 13);
    padding: 15px;
    display: block;
    width: 200px;
    margin: 10px auto;
    border-radius: 5px;
    font-size: 0.9rem;
}
.SecThree{
    height: 100dvh;
    width: 100vw;
}
.SecThree main{
    width: 100%;
    height: 100%;
    display: flex;
}
.SecThree main img{
    height: 100%;
    object-fit: cover;
    float: left;
    width: 50%;
}
.SecThree .sideDiv{
    display: grid;
    place-items: center;
    padding: 20px;
    text-align: center;
}

.sideDiv h1{
    font-size: 2.5rem;
}
.sideDiv h3{
    font-size: 0.9rem;
    color: rgb(112, 109, 109);
}
.sideDiv p{
    padding: 10px 0px;
    margin: 10px auto;
    width: 60%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}
.sideDiv a{
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 15px;
    margin: 5px;
    width: 50px;
    border-radius: 5px;
}
.sideDiv a:hover{
    background-color: rgb(206, 206, 206);
    color: black;
}